html {
    height: 100%;
    width: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 25px;
  }
  
  nav {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .front-picture {
    width: 1000px;
    height: 500px;

  }
  .front-picture-div {
    display: flex;
    justify-content: center;
  }

  .nav-bar-section {
    display: flex;
    justify-content: center;
  }

  .beauty-text {
    font-size: 25px;
    color: darkgrey;
  }

  .health-text {
    font-size: 25px;
    color: darkgrey;
  }

  .home-improvement-text {
    font-size: 25px;
    color: darkgrey;
  }

  .join-us-text {
    font-size: 25px;
    color: darkgrey;
  }

 .social-media-text {
    font-size: 25px;
    color: darkgrey;

  }

  .first-section {
    font-size: 40px;
    color: rgb(72, 59, 40);

  }

  
  .beauty-text-lifehack {
    font-size: 20px;
    color: rgb(95, 104, 98);

  }

  .link-facemask {
    font-size: 17px;
    color: rgb(95, 104, 98);

  }

  .link-hairstyles {
    font-size: 17px;
    color: rgb(95, 104, 98);

  }

  .link-makeup {
    font-size: 17px;
    color: rgb(95, 104, 98);

  }

  .secound-section {
    font-size: 40px;
    color: rgb(72, 59, 40);

  }

  .health-text-lifehack {
    font-size: 20px;
    color: rgb(95, 104, 98);

  }

  .link-stress {
    font-size: 17px;
    color: rgb(95, 104, 98);

  }

  .link-exercises {
    font-size: 17px;
    color: rgb(95, 104, 98);

  }


  .link-snack {
    font-size: 17px;
    color: rgb(95, 104, 98);

  }

  .third-section {
    font-size: 40px;
    color: rgb(72, 59, 40);

  }

  .himprovement-text-lifehack {
    font-size: 20px;
    color: rgb(95, 104, 98);

  }

  .link-paint {
    font-size: 17px;
    color: rgb(95, 104, 98);

  }

  .link-easy-diy {
    font-size: 17px;
    color: rgb(95, 104, 98);

  }

  .link-closet  {
    font-size: 17px;
    color: rgb(95, 104, 98);

  }

  .sign-up {
    font-size: 20px;
    color: rgb(72, 59, 40);

  }

  .Social-media {
    font-size: 19px;
    color: rgb(72, 59, 40);

  }

  .copywrite {
    font-size: 17px;
    color: rgb(72, 59, 40);

  }

  .link-facebook {
    font-size: 30px;

  }

  .link-instagram {
    font-size: 30px;

  }

  .link-twitter {
    font-size: 30px;

  }

  .boarder-sign-ups {
    border: 2px solid rgb(76, 70, 53);
	padding: 1rem;
	margin: .5rem;

  }

  .Your-details-signup {
    color: rgb(72, 59, 40);
  }

  .name-details {
    color: rgb(72, 59, 40);
  }

  .name-email {
    color: rgb(72, 59, 40);
  }

  .submit-join-us {
    color: rgb(26, 76, 55);
  }